@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&family=PT+Sans+Narrow:wght@700&family=Yusei+Magic&display=swap");
.header {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #0f5a16;
  width: 100%;
}

.header .logo {
  color: white;
  padding-left: 20px;
}

.header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
  padding-top: 15px;
}

.header .nav-links li {
  list-style: none;
}

.header .nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}

.header .transform-phone {
  display: none;
  cursor: pointer;
}

.header .transform-phone div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width: 858px) {
  .header body {
    overflow-x: hidden;
  }
  .header .nav-links {
    position: absolute;
    right: 0px;
    height: 400px;
    top: 64px;
    background-color: #0f5a16;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    overflow: hidden;
    z-index: 100;
  }
  .header .nav-links li {
    opacity: 0;
  }
  .header .transform-phone {
    display: block;
  }
}

.header .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

#cover_photo {
  background: url(../images/machineworking.jpg) no-repeat;
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: absolute;
  height: 500px;
  margin-bottom: 50px;
  background-position-y: center;
}

.tittle h1 {
  position: absolute;
  top: 315px;
  left: 50px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 5px 5px 20px #178517;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: ghostwhite;
  z-index: 1;
}

@media (max-width: 500px) {
  .header {
    width: 100%;
  }
  .header #cover_photo {
    background-position-x: -300px;
    orientation: landscape;
  }
}

.w3hubs-footer {
  width: 100%;
  height: auto;
  margin: auto;
  background: darkgreen;
  padding: 20px 0px;
}

.w3hubs-footer .w3hubs-icon {
  width: 100%;
  height: auto;
  margin: auto;
}

.w3hubs-footer .w3hubs-icon ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.w3hubs-footer .w3hubs-icon ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #7DCEA0;
}

.w3hubs-footer .w3hubs-icon ul li a {
  text-decoration: none;
  color: #272727;
  font-size: 25px;
  display: block;
}

.w3hubs-footer .w3hubs-icon ul li a i {
  line-height: 50px;
}

.w3hubs-footer .w3hubs-icon ul li:hover {
  background: #e67e22;
}

.w3hubs-footer .w3hubs-icon ul li a:hover > i {
  -webkit-transform: scale(1.6) rotate(25deg);
          transform: scale(1.6) rotate(25deg);
}

.w3hubs-footer .w3hubs-nav {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px;
}

.w3hubs-footer .w3hubs-nav ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.w3hubs-footer .w3hubs-nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

.w3hubs-footer .w3hubs-nav ul li a {
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.w3hubs-footer .w3hubs-nav ul li a:hover {
  color: #e67e22;
}

.w3hubs-footer .w3hubs-nav1 {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}

.w3hubs-footer .w3hubs-nav1 ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.w3hubs-footer .w3hubs-nav1 ul li {
  display: inline-block;
  margin: 0px 20px;
}

.w3hubs-footer .w3hubs-nav1 ul li a {
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.w3hubs-footer .w3hubs-nav1 ul li a:hover {
  color: #e67e22;
}

.w3hubs-footer .w3hubs-nav2 {
  width: 100%;
  height: auto;
  margin: auto;
}

.w3hubs-footer .w3hubs-nav2 ul {
  text-align: center;
}

.w3hubs-footer .w3hubs-nav2 ul li {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #fff;
  list-style: none;
}

.w3hubs-footer .w3hubs-nav2 ul li a {
  text-decoration: none;
  color: #272727;
  font-size: 25px;
  display: block;
  -webkit-transition: .6s;
  transition: .6s;
}

.w3hubs-footer .w3hubs-nav2 ul li a i {
  line-height: 50px;
  -webkit-transition: .6s;
  transition: .6s;
}

.w3hubs-footer .w3hubs-nav2 ul li:hover {
  background: #e67e22;
}

.w3hubs-footer .w3hubs-nav2 ul li a:hover > i {
  -webkit-transform: scale(1.6) rotate(180deg);
          transform: scale(1.6) rotate(180deg);
}

.w3hubs-footer .footer-end {
  width: 100%;
  height: auto;
  margin: auto;
  background: darkgray;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.w3hubs-footer .footer-end p {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

.w3hubs-footer .footer-end a {
  text-decoration: none;
  color: #fff;
}

.w3hubs-footer .footer-end a:hover {
  color: #e67e22;
}

@media (max-width: 691px) {
  .w3hubs-footer .w3hubs-nav1 ul li a, .w3hubs-nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 604px) {
  .w3hubs-footer .w3hubs-nav1 ul li a, .w3hubs-nav ul li a {
    font-size: 14px;
  }
  .w3hubs-nav ul li {
    padding: 0px;
  }
}

@media (max-width: 559px) {
  .w3hubs-footer .w3hubs-nav1 ul li a, .w3hubs-nav ul li a {
    font-size: 13px;
  }
}

@media (max-width: 539px) {
  .w3hubs-footer .w3hubs-nav1 ul li a, .w3hubs-nav ul li a {
    font-size: 11px;
  }
  .w3hubs-footer .w3hubs-nav ul li {
    margin: 5px 20px;
  }
  .w3hubs-footer .w3hubs-nav ul li.p1 {
    padding-top: 10px;
  }
}

@media (max-width: 380px) {
  .w3hubs-footer .w3hubs-nav ul li, .w3hubs-nav1 ul li {
    display: block;
    padding: 5px;
  }
  .w3hubs-footer .w3hubs-nav2 ul li {
    display: none;
  }
  .w3hubs-footer .w3hubs-icon ul li a i {
    line-height: 38px;
  }
  .w3hubs-footer .w3hubs-icon ul li a {
    font-size: 20px;
  }
  .w3hubs-footer .w3hubs-icon ul li {
    width: 40px;
    height: 40px;
    list-style: none;
  }
}

@media (max-width: 375px) {
  .w3hubs-footer .w3hubs-nav ul li.p1 {
    padding-top: 0px;
  }
}

#numberAndEmail_end {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

body {
  background-color: darkgray;
  margin: 0;
}

.welcome {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 100%;
  height: auto;
  background: darkgray;
  padding-bottom: 100px;
}

.welcome #welcome-tittle {
  padding: 6px 30px;
}

.welcome #welcome-tittle h1 {
  font-size: 40px;
  vertical-align: middle;
  padding-bottom: 30px;
}

.welcome #welcome-tittle p {
  font-size: 20px;
}

.welcome #welcome-tittle img {
  vertical-align: baseline;
}

.welcome #welcome-tittle #p-1 {
  width: 400px;
}

.welcome #photo img {
  position: relative;
  background-repeat: no-repeat;
  top: 40px;
  -webkit-box-shadow: 10px 10px #00000021;
          box-shadow: 10px 10px #00000021;
  border-radius: 50px;
  width: 500px;
  height: 400px;
}

@media (max-width: 860px) {
  .welcome #photo {
    display: inline;
  }
}

@media (max-width: 550px) {
  .welcome {
    position: relative;
    padding-left: 20px;
  }
  .welcome #welcome-tittle #p-1 {
    width: 300px;
  }
  .welcome #photo {
    padding-right: 30px;
  }
  .welcome #photo img {
    width: 300px;
    height: 300px;
  }
}

#we_provide {
  text-align: center;
  color: black;
  font-size: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: initial;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 100%;
  height: auto;
  background: darkgray;
  padding-bottom: 100px;
}

.box-container .box {
  height: 360px;
  width: 404px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 20px 50px;
  background: #3ad925;
  background: radial-gradient(circle, #3ad925 0%, #337707 54%);
  -webkit-box-shadow: 15px 15px 30px black;
          box-shadow: 15px 15px 30px black;
}

.box-container .box p {
  text-align: left;
  margin: 20px;
}

.box-container .box .img1 img {
  background-size: cover;
  width: 404px;
  height: 203px;
}

.box-container .box .img2 img {
  background-size: cover;
  width: 404px;
  height: 203px;
}

.box-container .box .img3 img {
  background-size: cover;
  width: 404px;
  height: 203px;
}

.box-container .box .img4 img {
  background-size: cover;
  width: 404px;
  height: 203px;
}

.box-container .box .img5 img {
  background-size: cover;
  width: 404px;
  height: 203px;
}

.box-container .box .img6 img {
  background-size: cover;
  width: 404px;
  height: 203px;
}

.box-container .box .img1 img, .box-container .box .img2 img, .box-container .box .img3 img, .box-container .box .img4 img, .box-container .box .img5 img, .box-container .box .img6 img {
  border-radius: 10px 20px 20px 20px;
}

.box-container #tittle-project {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}

@media (max-width: 450px) {
  .box-container {
    padding-left: 20px;
  }
  .box-container .box {
    height: 350px;
    width: 300px;
  }
  .box-container .box .img1 img, .box-container .box .img2 img, .box-container .box .img3 img, .box-container .box .img4 img, .box-container .box .img5 img, .box-container .box .img6 img {
    width: 300px;
  }
}

#fourm {
  padding: 15px;
  padding-top: 20px;
  background-position: center;
  background-image: url(../images/form.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#fourm .h1-form {
  color: aliceblue;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 20px;
  text-transform: uppercase;
}

#fourm fieldset {
  margin: 35px;
  border-radius: 5px;
  opacity: 0.9;
  border: none;
  border-radius: 8px;
  display: inline-block;
}

#fourm input {
  padding: 10px;
  margin: 15px;
  background-color: #ddd9d9;
  border: none;
  border-radius: 3px;
}

#fourm fieldset #one {
  width: 50%;
}

#fourm #submitform {
  padding: 10px;
  width: 120px;
  background-color: #1a87ec;
  border: none;
  margin: 11px;
  border-radius: 7px;
}

#fourm fieldset #three {
  width: 78%;
}

#fourm fieldset #four {
  width: 78%;
}

#fourm fieldset #five {
  position: relative;
  resize: none;
  width: 78%;
  left: 15px;
  background-color: #ddd9d9;
}

#fourm #email {
  text-transform: uppercase;
  color: #005f0d;
  background-color: darkgray;
  padding: 5px;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  border-radius: 5px;
}

#fourm:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#fourm #call {
  color: #005f0d;
  left: 500px;
  background-color: darkgray;
  width: 210px;
  padding: 10px 10px 5px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 20px;
}

.second-box {
  width: 40%;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  text-align: center;
  text-align: left;
  padding-left: 20px;
}

.second-box p {
  font-size: 30px;
  font-weight: 500;
}

.second-box address {
  text-align: left;
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 500px) {
  .second-box address {
    font-size: 15px;
  }
}

/* Pest Control */
#pest_control {
  padding: 1% 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pest_control #article-1 {
  display: inline-block;
  position: relative;
}

#pest_control #article-1 h1 {
  font-size: 42px;
  color: #0d0d0d;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 32px;
}

#pest_control #article-1 p {
  width: 50%;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 15px 0;
}

#pest_control #article-2 img {
  position: relative;
  right: 120px;
  height: 450px;
  border-radius: 0px 40px 0px 70px;
}

@media (max-width: 1300px) {
  #pest_control #article-2 img {
    display: none;
  }
}

@media (max-width: 500px) {
  #pest_control {
    display: block;
  }
  #pest_control #article-1 h1 {
    font-size: 26px;
    padding: 0;
    margin: 0;
    font-weight: 900;
  }
  #pest_control #article-1 p {
    font-size: 22px;
    width: 70%;
  }
  #pest_control #article-2 #center_img {
    display: block;
  }
}

@media (max-width: 500px) {
  #article-3 {
    padding-top: 30px;
    padding-left: 30px;
  }
  #article-3 p {
    width: 70%;
    font-size: 20px;
  }
}

.about-company #company-found h1 {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 80px;
}

.about-company #company-found p {
  padding: 10px 200px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  padding-bottom: 100px;
}

@media (max-width: 600px) {
  .about-company #company-found p {
    font-size: 15px;
    padding: 1px 50px;
  }
}
