/* footer */
footer{
    background: rgb(9,23,33);
    background: linear-gradient(to bottom, rgb(1, 77, 1), green);  
}
footer .footer-box{
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
footer .footer-box .footer-box1,.footer-box2,.footer-box3 {
    width: 300px;
    padding: 60px;
}
footer .footer-box .footer-box1 img{
    width: 200px;
}
footer .footer-box .footer-box1 p{
    color: darkgray;
    padding-top: 15px;
    line-height: 20px;
    font-family: sans-serif;
    text-align: left;
}
footer .footer-box .footer-box1 a i{
    color: darkgray;
    padding-top: 5px;
    padding: 8px;
}
footer .footer-box .footer-box1 a i:hover{
    background-color: dodgerblue;
    border-radius: 50%;
}
footer .footer-box .footer-box2 h2{
    color: whitesmoke;
}
footer .footer-box .footer-box2 a{
    display: block;
    color: darkgray;
    line-height: 40px;
    width: 100px;
    text-decoration: none;
    font-size: 18px;
}
footer .footer-box .footer-box3{
    text-align: left;
}
footer .footer-box .footer-box3 h2{
    color: whitesmoke;
}
footer .footer-box .footer-box3 p{
    line-height: 40px;
    color: darkgray;
    text-align: left;
}
footer .footer-box .footer-box3 p i{
    color: whitesmoke;
    padding-right: 10px;
}
footer .footer-box .footer-box3 p a{
    color: darkgrey;
    text-decoration: none;
}
footer p{
    text-align: center;
    padding-bottom: 20px;
    color: darkgray;
    margin: 0px;
}
@media (max-width: 530px) {
    footer .footer-box .footer-box1,.footer-box2,.footer-box3{
        padding: 0px;
    }
}

/* footer END */


// Arrow TOp
.arrowTop{
    position: relative;
    top: -100px;
    left: 50px;
    cursor: pointer;

    i{
        font-size: 40px;
        color: white;
        transition: 1s ease;
    
        &:hover{
           transform: rotate(180deg); 
        }
    }

    

}

// END Arrow Top