@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&family=PT+Sans+Narrow:wght@700&family=Yusei+Magic&display=swap');
@import "mixins";
@import "nav";
@import "footer";



body{
    background-color: darkgray;
    margin: 0;
}

   .header{
    background: url(../images/machineworking.jpg) no-repeat;
    background-position-y: -40px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    // height: 750px;
    // mix-blend-mode: color-burn;
    background-attachment: fixed;
   }
   @media (max-width: 458px) {
       .header{
           width: 418px;
       }
       
   }
   
  .tittle h1{
     position: absolute;
     top: 315px;
     left: 50px;
         
        //  @include transform(rotate(0deg));
         font-size: 50px;
         font-weight: bold;
          text-shadow: 5px 5px 20px rgb(23, 133, 23);
          text-transform: uppercase;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          color: ghostwhite;  
          z-index: 1; 
}


h2{
    font-size: 40px;
    margin: 30px;
    padding: 30px;
    font-family: Copperplate, Papyrus, fantasy;
    color: rgb(111, 153, 37);
    text-shadow: darkred;
    text-align: center;
    text-transform: uppercase;
}

.logo{
    float: left;
    padding: 12px;
}


//  Our Project
.box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    width: 100%;
    height: auto;
    background: darkgray;
    padding-bottom: 100px;

       .box{
           height: 360px;
           width: 408px;
           margin: 20px;
           box-sizing: border-box;
           border-radius: 10px 20px 50px;
           background: rgb(58,217,37);
            background: radial-gradient(circle, rgba(58,217,37,1) 0%, rgba(51,119,7,1) 54%);  
            box-shadow: 15px 15px 30px black;    
        }
        p{
            text-align: left;
            margin: 20px;
        }
           

       .img1{
           
           background-size: cover;
       }
       .img2{
           background-size: cover;
       }
       .img3{
           background-size: cover;
       }
       .img4{
           background-size: cover;
        }
        .img1, .img2, .img3, .img4, .img5, .img6{
            img{
                border-radius: 10px 20px 20px 20px
            }
        }
           
       #tittle-project{
        text-align: center;
        font-family: cursive;
        font-weight: bold;
    } 
    #projectbt{
        padding: 5px;
        float: right;
        background-color: rgb(140, 185, 140);
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 10px;
        border: none;
    
        a {
            text-decoration: none;
            font-weight: bold;
        }
    }

}

 
// Contact
#fourm{
    padding: 15px;
    padding-top: 20px;
    background-position: center;
    background-image: url(../images/form.jpg);
    background-position-x: -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .h1-form{
        color: aliceblue;
        font-size: 30px;
        font-weight:bold;
        padding-bottom: 20px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-left: 20px;
        text-transform: uppercase;
    }
    fieldset{
        margin: 35px;
        border-radius: 5px;
        opacity: 0.9;
        border: none;
        border-radius: 8px;
        display: inline-block;
    }
    
    input{
        padding: 10px;
        margin: 15px;
        background-color: rgb(221, 217, 217);
        border: none;
        border-radius: 3px;
    }
    
    
    fieldset #one{
        width: 170px ;
    }
    #submitform{
        padding: 10px;
        width: 120px;
        background-color:  rgb(26, 135, 236);
        border: none;
        margin: 11px;
        border-radius: 7px;
    
    }
    
    fieldset #three{
        width: 78%;
    }
    fieldset #four{
         width: 78%;
        
     }
     fieldset #five{
         position: relative;
         resize: none;
         width: 78%;
         left: 15px;
      background-color: rgb(221, 217, 217);
    }
    #email{
        text-transform: uppercase;
        color: rgb(0, 95, 13);
        background-color: darkgray;
        padding: 5px;
        text-decoration: none;
        font-size: 21px;
        font-weight: bold;
        border-radius: 5px;
    }
    
        &:hover{
            background-color: rgb(207, 95, 30);
            transition: 0.8s;
            }

        #call{
            color: rgb(0, 95, 13);
            left: 500px;
            background-color: darkgray;
            width: 210px;
            padding: 10px 10px 5px;
            border-radius: 5px;
            font-size: 17px;
            font-weight: bold;
            margin-left: 20px;
        }
            
}

    // contact.html box
    .second-box{
        width: 40%;
        flex-flow: wrap;
        text-align: center;
        text-align: left;
        padding-left: 20px;

        p{
            font-size: 30px;
            font-weight:500;
        }
        address{
            text-align: left;
            font-size: 17px;
            font-weight: 500;
        }
        @media (max-width: 500px) {
            address{
                font-size: 15px;
            }
        }
        
    }

    /* Pest Control */
#pest_control{
    padding: 1% 7%;
    
}

#pest_control article{
    width:33%;
    display: inline-block;
    position: relative;
}

#pest_control article h1{
    font-size: 42px;
    color: #0d0d0d;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 32px;
}

#pest_control article p{
    margin-bottom:35px;
    font-size: 15px;
    color: #4e4e4e;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}

#pest_control article #center_img{
    width:80%;
    position: relative;
    top: -210px;
    border-radius: 30px 10px;
}

@media (max-width: 500px) {
    #pest_control{
        display: inline;
    }

    #pest_control article h1{
        font-size: 22px;
        font-size: 22px;
         padding: 0;
         margin: 0;
         font-weight: 900;
    }
    

     #pest_control article #center_img{
         display: contents;
     }

}
@media (max-width: 800px) {

    #pest_control article #center_img{
         display: contents;
     }
}

// Welcome status
.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    width: 100%;
    height: auto;
    background: darkgray;
    padding-bottom: 100px;

    #welcome-tittle{
        padding: 6px 30px;


        h1{
            font-size: 40px;
            vertical-align: middle;
            padding-bottom: 30px;
        }
        p{
            font-size: 20px;
        }

        img{
            vertical-align: baseline;
        }
        #p-1{
            width: 400px;
        }
        #p-2{
            span{
                font-size: 20px;
                font-weight: 700;
            }
            ul{
                list-style-type: none;
            }
            li{
                padding: 5px;
                word-spacing: 10px;
            }
        }
        
    }
    #photo{
        position: relative;
        height: 300px;
        width: 470px;
        background-image: url(../images/welcomen.jpg);
        background-repeat: no-repeat;
        top: 40px;
        box-shadow: 10px 10px #00000021;
        border-radius: 20px;
    }

}
@media (max-width: 415px) {
    .welcome{
        position: relative;
        padding-left: 20px;

        #welcome-tittle{

            #p-1{
                 width: 300px;
               
            }
        }
    }
   
    
    
}

// About company post about.html
.about-company{

    #company-found{
        h1{
            text-align: center;
            padding-bottom: 40px;
            padding-top: 80px;
        }
        p{
            padding: 10px 200px;
            text-align: center;
            margin: auto;
            font-size: 20px;
            padding-bottom: 100px;
        }
        @media (max-width: 600px) {
            p{
                font-size: 15px;
                padding: 1px 50px;
            }
            
        }
    }

}


    
    











